<div class='container'>
  <h1>Quotes</h1>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
    <div class='col-md-6'>
      <div *ngFor='let quote of quotes; let i = index'>
        <div>
          <br>

          <div class='card'>
            <div class='card-header'>
              <h4 class='card-title' id={{i}}>{{ quote.name }}</h4>
            </div>
            <div class='card-body'>
              <p (click)="addLike()">Like {{quote.upVotes}}</p><p (click)="addDislike()">Dislike {{quote.downVotes}}</p>
              <button (click)='toggleDetails(i)'>Toggle Details</button>
              <div *ngIf='quote.showDescription'>
                <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
              </div>
            </div>
            <div class='card-footer'>
              <p>created on {{quote.completeDate|date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
