<div class='container'>
  <h1>Quotes</h1>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <app-quote-form (addQuote)='addNewQuote($event)'></app-quote-form>
    </div>
    <div class='col-md-6'>
      <div *ngFor='let quote of quotes; let i = index'>
        <div>
          <br>

          <div class='card'>
            <div class='card-header'>
              <div class='row'>
                <div class='col-8'>
                  <h4 class='card-title' id={{i}}>{{ quote.name }}</h4>
                </div>
                <div class='col-4'>
                  <p (click)="addLike(quote)">Likes {{quote.upVotes}}</p>
                  <p (click)="addDislike(quote)">Dislikes {{quote.downVotes}}</p>
                </div>
              </div>
            </div>
            <div class='card-body'>
              <button (click)='toggleDetails(i)'>Toggle Details</button>
              <div *ngIf='quote.showDescription'>
                <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
              </div>
            </div>
            <div class='card-footer'>
              <p>created on {{quote.completeDate|date}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
