<div class='container'>
  <h1>Quotes</h1>
  <hr>
  <div class='row'>
    <div class='col-md-6'>
      <app-quote-form></app-quote-form>
    </div>
    <div class='col-md-6'>
      <div *ngFor='let quote of quotes; let i = index'>
        <div>
          <br>
          <h4 id={{i}}>{{ quote.name }}</h4>

          <p>created on {{quote.completeDate|date}}</p>
          <button (click)='toggleDetails(i)'>Toggle Details</button>
        </div>

        <div *ngIf='quote.showDescription'>
          <app-quote-detail [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>
